#Teambuilder {
    grid-template-areas: "gr0 gr0 gr1 gr38 gr37 gr37" "gr4 gr5 gr6 gr43 gr42 gr41" "gr4 gr9 gr10 gr47 gr46 gr41" "gr4 gr13 gr14 gr51 gr50 gr41" "gr4 gr17 gr18 gr55 gr54 gr41" "gr74 gr74 gr75 gr112 gr111 gr111" "gr78 gr79 gr80 gr117 gr116 gr115" "gr78 gr83 gr84 gr121 gr120 gr115" "gr78 gr87 gr88 gr125 gr124 gr115" "gr78 gr91 gr92 gr129 gr128 gr115" "gr148 gr148 gr149 gr186 gr185 gr185" "gr152 gr153 gr154 gr191 gr190 gr189" "gr152 gr157 gr158 gr195 gr194 gr189" "gr152 gr161 gr162 gr199 gr198 gr189" "gr152 gr165 gr166 gr203 gr202 gr189" "gr222 gr222 gr223 gr260 gr259 gr259" "gr226 gr227 gr228 gr265 gr264 gr263" "gr226 gr231 gr232 gr269 gr268 gr263" "gr226 gr235 gr236 gr273 gr272 gr263" "gr226 gr239 gr240 gr277 gr276 gr263" "gr296 gr296 gr297 gr334 gr333 gr333" "gr300 gr301 gr302 gr339 gr338 gr337" "gr300 gr305 gr306 gr343 gr342 gr337" "gr300 gr309 gr310 gr347 gr346 gr337" "gr300 gr313 gr314 gr351 gr350 gr337";
    grid-template-columns: auto 20% 12% 12% 20% auto;
}



.StatType-2 {
    display: none;
}

.StatType-3 {
    display: none;
}

#TBheader {
    justify-content: space-between;
}

input#Box-TeamName-5 {
    border-top-right-radius: 12px;
}

.bdr-bd {
    border-bottom: 1px solid black;
}

.bdr-td {
    border-top: 1px solid black;
}

.bdr-ld {
    border-left: 1px solid black;
}

.bdr-rd {
    border-right: 1px solid black;
}


#Alt1Selector {
    display: none;
}

#Alt2Selector {
    display: none;
}

#ManSetbox {
    margin-left: 40px;
}
